body {
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  color: #666;
}

a {
  text-decoration: none;
}

#message {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  color: #ccc;
  font-size: 12px;
}

#file {
  display:none;
}

.qrcode {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  padding: auto;
  margin: auto;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background: #eee;
  box-shadow: 1px 0px 5px #ccc;
}

.settings {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #eee;
  box-shadow: -1px 0px 5px #ccc;
}
.settings form {
  width: 200px;
  padding: 10px;
}
.settings input {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: 0px;
  border-radius: 2px;
}
.settings input[type=button] {
  background: #fff;
  color: #666;
  width: 90%;
  cursor: pointer;
}

.content {
  padding: 5px;
  margin-left: 80px;
}

.button {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background: #fefefe;
}
.button .text {
  font-size: 10px;
}


#widgets-list .widget {
  margin: 30px;
}

#widgets-list .widget .name {
  color: #e21c24;
  font-size: 20px;
  font-weight: 500;
}

#widgets-list .widget .button {
  color: #e21c24;
  background: transparent;
  font-size: 15px;
  border-radius: 2px;
}
#widgets-list .widget .button:hover {
  background: transparent;
  opacity: 0.8;
}
